body {
  max-width: 560px;
  margin: 0 auto;

  font-family: 'Ruda', sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 42pt;
  font-weight: 700;
  margin-top: 20%; 
}

h2 {
  font-size: 26pt;
  font-weight: 700;
  margin-bottom: -10%;
}

a {
  color: #ffffff;
}

#inputForm {
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
}

.form-field {
  width: 70%;
  border: 0px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.2);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  padding: 1% 1% 1% 2%;
  margin-bottom: 1%;

  font-size: 26pt;
  color: rgba(255,255,255,0.9);
}

.form-field:focus {
  background-color: rgba(255,255,255,0.1);
  outline-color: transparent;
  outline-style: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255,255,255,0.3);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255,255,255,0.3);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255,255,255,0.3);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(255,255,255,0.3);
}

#chirpButton {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;

  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.1));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.1));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.1));
  background: -o-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.1));

  float: left;
  margin-left: 5%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#chirpButton img {
  opacity: 0.6;
}

#chirpButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0.1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.4),rgba(255,255,255,0.1));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.4),rgba(255,255,255,0.1));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.4),rgba(255,255,255,0.1));
  background: -o-linear-gradient(top, rgba(255,255,255,0.4),rgba(255,255,255,0.1));
}

#chirpButton:active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.1)), to(rgba(255,255,255,0.4)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.4));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.4));
  background: -ms-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.4));
  background: -o-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.4));
}

#dispTweets {
  width: 100%; 
  margin-top: 30%;
  margin-left: 10%;
  font-weight: 400;
  opacity: 0.0;
}

#dispTweets .dispSingleTweet {
  margin-bottom: 10%;
}

#dispTweets .dispSingleTweet .tweetUser {
  margin-top: -2%;
  color: rgba(255,255,255,0.5);
}

